{% extends 'administration/main.html' %}
{% load static %}
{% block content %}

<br><br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <!-- <div class="row align-items-center my-3">
                <div class="col">
                    <h2 class="page-title">Contenu du site</h2>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-lg btn-primary"><span class="fe fe-plus fe-16 mr-3"></span>Gestion</button>
                </div>
            </div> -->
            <div class="file-container border-top">
                <div class="file-panel mt-4">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="card shadow mb-4">
                                <div class="card-body file-list">
                                    <div class="d-flex align-items-center">
                                        <div class="circle circle-md bg-secondary">
                                            <span class="fe fe-folder fe-16 text-white"></span>
                                        </div>
                                        <div class="flex-fill ml-4 fname">
                                            <a href="{% url 'ArtistesList' %}">
                                                <strong>Artistes</strong>
                                            </a>
                                            <br />
                                            <span class="badge badge-light text-muted">{{ artistes_count }} artiste(s)</span>
                                        </div>
                                    </div>
                                </div> <!-- .card-body -->
                            </div> <!-- .card -->
                        </div> 

                        <div class="col-md-6 col-lg-4">
                            <div class="card shadow mb-4">
                                <div class="card-body file-list">
                                    <div class="d-flex align-items-center">
                                        <div class="circle circle-md bg-secondary">
                                            <span class="fe fe-folder fe-16 text-white"></span>
                                        </div>
                                        <div class="flex-fill ml-4 fname">
                                            <a href="{% url 'CentreList' %}">
                                                <strong>Centre</strong>
                                            </a>
                                            <br/>
                                            <span class="badge badge-light text-muted">{{ centre_count }} centre(s)</span>
                                        </div>
                                    </div>
                                </div> <!-- .card-body -->
                            </div> <!-- .card -->
                        </div> <!-- .col centre -->

                        <div class="col-md-6 col-lg-4">
                            <div class="card shadow mb-4">
                                <div class="card-body file-list">
                                    <div class="d-flex align-items-center">
                                        <div class="circle circle-md bg-secondary">
                                            <span class="fe fe-folder fe-16 text-white"></span>
                                        </div>
                                        <div class="flex-fill ml-4 fname">
                                            <a href="{% url 'ArtisteInviteList' %}">
                                                <strong>Artiste Invite</strong>
                                            </a>
                                            <br/>
                                            <span class="badge badge-light text-muted">{{ artisteInvite_count }} artisteInvite(s)</span>
                                        </div>
                                    </div>
                                </div> <!-- .card-body -->
                            </div> <!-- .card -->
                        </div> 

                        <div class="col-md-6 col-lg-4">
                            <div class="card shadow mb-4">
                                <div class="card-body file-list">
                                    <div class="d-flex align-items-center">
                                        <div class="circle circle-md bg-secondary">
                                            <span class="fe fe-folder fe-16 text-white"></span>
                                        </div>
                                        <div class="flex-fill ml-4 fname">
                                            <a href="{% url 'CategorieArtisteList' %}">
                                                <strong>Categorie Artiste</strong>
                                            </a>
                                            <br />
                                            <span class="badge badge-light text-muted">{{ categorieArtiste_count }} categorieArtiste(s)</span>
                                        </div>
                                    </div>
                                </div> <!-- .card-body -->
                            </div> <!-- .card -->
                        </div> 

                        

                    </div> <!-- .row -->
                </div> <!-- .file-panel -->
            </div> <!-- .file-container -->
        </div> <!-- .col -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->
{% endblock content %}
<br><br><br><br><br><br><br><br><br><br><br><br>