{% extends 'control_user/main.html' %}
{% load static %}
{% block content %}



  <br><br><br>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <span class="" style="font-size:26px; color:red;">Comander Maintenant</span>
                </a>
                <p class="text-center w-100" style="font-size:16x;">Faite votre commander pour la saveur de votre choix</p>
                
                <form method="post" action="{% url 'register' %}">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="last_name" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="last_name" autocomplete="last_name" required name="last_name">
                  </div>
                  <div class="mb-3">
                    <label for="first_name" class="form-label">Prénom</label>
                    <input type="text" class="form-control" id="first_name" autocomplete="first_name" required name="first_name">
                  </div>
                  <div class="mb-3">
                    <label for="telephone" class="form-label">Telephone</label>
                    <input type="text" class="form-control" id="telephone" required name="telephone" autocomplete="telephone">
                  </div>
                  <div class="mb-4">
                    <label for="plat" class="form-label">Nom du plat</label>
                    <input type="plat" class="form-control" id="plat" required>
                  </div>
                  <div class="mb-4">
                    <label for="nombreCommande" class="form-label">Nombre de commande</label>
                    <input type="nombreCommande" class="form-control" id="nombreCommande" required>
                  </div>
                  <div class="mb-4">
                    <label for="montant" class="form-label">Montant</label>
                    <input type="montant" class="form-control" id="montant" required>
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Commander</button>
                  
                </form>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}