{% load static%}
<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Connexion</title>
  <link rel="shortcut icon" type="image/jpeg" href="{% static 'logos/favicon.jpeg' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'styles.min.css' %}"/>
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="{% url 'home' %}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <span class="" style="font-size:26px;">AfricaSoundCity</span>
                </a>
                <p class="text-center" style="font-size:16px;">Finaliser la réinitialisation de votre mot de passe</p>

                <form method="post" action="{% url 'reset_password_confirm' uidb64=uidb64 token=token %}">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="new_password1" class="form-label">Nouveau mot de passe</label>
                      <input type="password" class="form-control" id="new_password1" name="new_password1" required>
                  </div>
                  <div class="mb-3">
                      <label for="new_password2" class="form-label">Confirmez le nouveau mot de passe</label>
                      <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                  </div>
                  
                  <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>

