{% load static%}
<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Connexion</title>
  <link rel="shortcut icon" type="image/jpeg" href="{% static 'logos/favicon.jpeg' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'styles.min.css' %}"/>
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="{% url 'home' %}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <span style="font-size:26px; color: black;">Africa</span>
                  <span style="font-size:26px; color: red;">SoundCity</span>
                </a>
                <p class="text-center" style="font-size:16px;">Réinitialiser votre mot de passe</p>
                
                <form method="post" action="{% url 'reset_password_email' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="email" required name="email" autocomplete="email">
                    </div>
                    <button type="submit" class="btn btn-primary w-100 py-3 fs-4 mb-4 rounded-2">Envoyer</button>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>

